/**
 * Styles for collection pages.
 */

 .organicdata-collection .view-content {
  -webkit-column-count: 4;
  -webkit-column-gap: 0.75em;
  -webkit-column-fill: auto;
  -moz-column-count: 4;
  -moz-column-gap: 0.75em;
  -moz-column-fill: auto;
  column-count: 4;
  column-gap: 0.75em;
  column-fill: auto;
 }

 .pane-content .organicdata-collection .view-content {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

 .organicdata-collection .node-teaser {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
}
